.App {
  height: 100vh;
  max-width: 100vw;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
}

.App-header img {
  width: 200px;
  height: auto;
}

.App-header h1 {
  margin: 0;
}

.App-body {
  padding: 50px;
  min-height: 60vh;
}

.App-footer {
  text-align: center;
  padding: 20px;
  border-top: 3px solid #e0354b;
  font-style: italic;
}
